*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
.gradiente-uno{
    border: solid 2px;
    width: 300px;
    height: 200px;
    background: linear-gradient(180deg,blue,red,orange);
    
}
.gradiente-dos{
    width: 300px;
    height: 200px;
    background: linear-gradient(to left, blue,red,orange);
}
.gradiente-tres{
    width: 300px;
    height: 200px;
    background: linear-gradient(to top, rgb(230, 10, 230),purple,white);
}